.thing-enter {
  opacity: 0.0;
}

.thing-enter-active {
  opacity: 1;
  transition: opacity 0.4s;
}

.thing-leave {
  opacity: 1;
  transition: opacity 0.4s;
}

.thing-leave.thing-leave-active {
  opacity: 0.0;
}
